@import '../../../view/styles/variable';

.wrapper_btn {
  button {
    min-height: 4.2rem;
    max-height: 4.2rem;
    padding: 0 1rem !important;
    font-size: 1.3rem !important;
    font-weight: 400;
    border: none;
    box-shadow: 0 3px 20px #0000000b;
    .ant-btn > .anticon + span {
      margin-left: 5px;
    }
  }
  .mr_2 {
    margin-right: 2rem;
  }
  // .ant-btn-primary:active {
  //   border-color: transparent;
  //   background-color: rgba(0, 85, 86, 1);
  // }
  // .ant-btn-primary:focus {
  //   border-color: transparent;
  //   background-color: rgba(0, 85, 86, 1);
  // }
}
