// COLOR TEXT
$color-secondary-dark: #1c1c1e;
$color-grey-light-1: #f8fcff;

// MAIN BODY
$color-item: #7b7979;

$border-radius: 0.8rem;

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// FONT SIZE
$fs-0: 1.2rem;
$fs-1: 1.4rem;
$fs-2: 1.6rem;
$fs-3: 1.8rem;
$fs-4: 2rem;
$fs-5: 2.4rem;
$fs-6: 2.7rem;
$fs-7: 3.2rem;
$fs-8: 4.8rem;

//-----------------------------
//|           LAYOUT          |
//-----------------------------

//--2. Sidebar
$color-text-item-sidebar: #7b7979;

//--3. Right Menu
$font-size-icon: 2.2rem;

//-----------------------------
//|       MAIN COMPONENT      |
//-----------------------------

//--3. Table--
$color-table-border: #c8c8c8;

//--4. Form & Modal--

$color-card: #3e3e5b;
$color-ant-input: #03031d;
$color-ant-checkbox: #6c7585;
$color-form-note: #6c7585;
$color-input-disabled: #e9e9e9;

$color-background-cancel: #afaeae;
$color-select: #5e5b6a;
$color-select-active: #8f8d97;
$--tw-translate-x: 0;
$--tw-translate-y: 0;
$--tw-rotate: 0;
$--tw-skew-x: 0;
$--tw-skew-y: 0;
$--tw-scale-x: 1;
$--tw-scale-y: 1;
$--tw-scroll-snap-strictness: proximity;
$--tw-ring-offset-width: 0px;
$--tw-ring-offset-color: #fff;
$--tw-ring-offset-shadow: 0 0 #0000;
$--tw-ring-shadow: 0 0 #0000;
$--tw-shadow: 0 0 #0000;
$--tw-shadow-colored: 0 0 #0000;
