.ant-picker-input > input {
  font-size: $fs-2;
}

.ant-picker-decade-panel,
.ant-picker-year-panel,
.ant-picker-quarter-panel,
.ant-picker-month-panel,
.ant-picker-week-panel,
.ant-picker-date-panel {
  width: 28rem;
}

.ant-picker-super-prev-icon::after,
.ant-picker-super-next-icon::after,
.ant-picker-prev-icon::before,
.ant-picker-next-icon::before,
.ant-picker-super-prev-icon::before,
.ant-picker-super-next-icon::before {
  width: 0.7rem;
  height: 0.7rem;
}

.ant-picker-date-panel .ant-picker-content {
  width: 25.2rem;
}

.ant-picker-date-panel .ant-picker-body {
  padding: 0.8rem 1.2rem;
}

.ant-picker-date-panel .ant-picker-content th {
  width: 3.6rem;
}

.ant-picker-dropdown {
  font-size: $fs-2;
}

.ant-picker-header button {
  line-height: 4rem;
}

.ant-picker-header > button {
  font-size: $fs-2;
}

.ant-picker-cell::before {
  height: 2.4rem;
}

.ant-picker-content th,
.ant-picker-content td {
  min-width: 2.4rem;
}

.ant-picker-cell .ant-picker-cell-inner {
  height: 2.4rem;
  line-height: 2.4rem;
  min-width: 2.4rem;
}

.ant-picker-range .ant-picker-clear {
  right: 1.1rem;
}

.ant-picker-time-panel-column {
  width: 5.8rem;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 0 0 1.4rem;
}

.ant-picker-time-panel {
  width: 20rem;
}

.ant-picker-time-panel .ant-picker-content {
  height: 22.4rem;
}

.ant-picker-footer {
  line-height: 3.8rem;
}

.ant-picker-ranges {
  padding: 0.4rem 1.2rem;
  line-height: 3.4rem;
}

.ant-picker-large .ant-picker-input > input {
  font-size: $fs-1;
}

.ant-picker-ranges .ant-picker-ok {
  margin-left: 0.8rem;

  button {
    min-width: 4rem;
    min-height: 2.8rem;

    span {
      font-size: $fs-1;
    }
  }
}

.ant-picker-content thead tr {
  border-radius: 8px;
  overflow: hidden;
}

.ant-picker-content thead tr th {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.ant-picker-content thead {
  border-radius: 0.8rem;
  overflow: hidden;
}

.ant-picker-header-view {
  font-weight: 700;
  color: #3a3a3a;
  font-size: 1.8rem;
}

.ant-picker-cell .ant-picker-cell-inner {
  font-size: 1.4rem;
  font-weight: normal;
}

.ant-picker-time-panel {
  display: none;
}
.ant-picker {
  box-shadow: 0rem 0rem 0.4rem #e3e3e3;
  height: 4.2rem;
  border-radius: 0.8rem;

  .ant-picker-suffix {
    color: #bdbcbc;

    svg {
      width: 17.6px;
      height: 17.6px;
    }
  }

  .ant-picker-clear {
    display: none !important;
  }
}
