.right {
  position: fixed;
  z-index: 1;
  right: 0px;
  top: 15.5rem;
  width: 6vw;
  min-width: 6rem;
  border-radius: 16px 0px 0px 16px;
  transition: 0.5s;
  background-color: #2F2F41;
  color: white;
  font-family: Montserrat;

  &__menu__content {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;

    &::-webkit-scrollbar-track {
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      background-image: none;
    }

    .item__icon {
      border-bottom: 1px solid var(--colorPrimary);
      transition: 0.5s ease;
      position: relative;
      font-size: $font-size-icon;
      margin: 0 auto;
      width: 70%;
      min-width: 3.2rem;
      height: 6.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      .icon-feather {
        font-size: $font-size-icon;
        width: $font-size-icon;
        height: $font-size-icon;
        color: var(--colorPrimary);

        &.red-icon {
          color: #ec3740;
        }

        &.green-icon {
          color: #34cd26;
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        opacity: 0.4;
      }
    }

    .item__long {
      transition: 0.5s ease;
      position: relative;
      width: -moz-fit-content;
      width: fit-content;
      height: auto;
      font-size: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2rem auto;

      .item-title {
        font-size: $fs-1;
        border-bottom: 1px solid #b6d3ff;

        &:last-child {
          border-bottom: none;
        }
      }

      .icon-feather {
        font-size: $font-size-icon;
        color: var(--colorPrimary);

        &.red-icon {
          color: #ec3740;
        }

        &.green-icon {
          color: #34cd26;
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        opacity: 0.4;
      }
    }
  }

  &:hover {
    .right__menu__content {
      &::-webkit-scrollbar-thumb {
        background-color: var(--colorPrimary);
      }
    }
  }
}

.right__menu__content .item.no-click:hover .item__icon {
  background-color: #5d5d5d;
}

.right__menu__content .no-click {
  &:hover {
    .item__icon {
      background-color: #5d5d5d;
    }

    cursor: no-drop;
  }

  .item__icon {
    background-color: rgba(114, 114, 136, 0.5);

    .icon-feather {
      color: #878891;
    }
  }
}

.right-long {
  padding: 0 8px;
}

.block-wrapper {
  list-style-type: none;
}

.block-wrapper-inside {
  // background-color: ;
  margin-top: 20px;
}


.icon-right {
  margin-top: 32px;
  margin-right: 20px;
  color: #FF7506;
  background-color: #72728880;
  border-radius: 67px;
  // font-weight: bold;
  // padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.word-right {
  margin-right: 20px;
  font-size: 12px;
  padding-top: 5px;
}

.red {
  color: #FF4747;
}

.bottom30 {
  margin-bottom: 30px;
}


.ant-modal-header {
  background-color: #3E3E5B !important;
}

.ant-modal-title {
  color: white !important;
  font-size: 24px;
  font-weight: 700;
}

.ant-modal-content {
  background-color: #3E3E5B !important;
  text-align: center !important;
  color: white !important;
  width: 40rem;
  height: 20rem;
}

.ant-modal-footer {
  text-align: center !important;
}

.ant-modal-footer button:first-child {
  border: 1px solid #FF7506 !important;
  color: #FF7506 !important;
  background-color: #3E3E5B !important;
}

.ant-modal-footer button:last-child {
  background-color: #FF7506 !important;
}