::-webkit-scrollbar-track {
  // box-shadow: none;
  // background-color: transparent;
  // border-radius: 10rem;
  // border: none;
  display: none;
}

::-webkit-scrollbar {
  // width: 6px;
  // height: 6px;
  // background-color: transparent;
  // border-radius: 1rem;
  // border: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  // background-color: var(--colorPrimary);
  // border: none;
  // border-radius: 1rem;
  // background-image: none;
  display: none;
}
