@import './header.scss';

$size-img: 10rem;
$padding-inside: 1rem;

@mixin logo {
  width: 5rem;
  height: 100%;
}

.sider-component {
  display: flex;
  width: 1.6vw;
  align-content: center;
  align-items: center;
  transition: width 0.2s linear;
  overflow: hidden;
  background-color: var(--colorPrimary);

  & > .w-100 {
    background-color: var(--colorPrimary);
    height: 100vh;
    border-radius: 1.6rem;
    position: fixed;
    top: 0;
  }

  .logo {
    text-align: center;
    cursor: pointer;

    img {
      margin: 4rem auto;
      @include logo();
    }
  }

  .icon {
    z-index: 1;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;

    svg {
      color: var(--colorPrimary);
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .mask {
    overflow: hidden;
    left: 0%;
    height: 100%;
    background-color: var(--colorPrimary);
    transition: opacity 0.2s linear;
    opacity: 0;
    z-index: 3;

    .menu-hr {
      border-bottom: 1px solid var(--colorPrimary);
      margin: 1.2rem $padding-inside;
    }

    .menu-title {
      font-weight: bold;
      font-size: $fs-3;
      line-height: 2.7rem;
      text-transform: uppercase;
      color: var(--colorLink);
      margin: 2rem $padding-inside;
    }
    .item-label {
      font-weight: 500;
      font-size: 1.8rem;
    }

    .ant-menu-item,
    .ant-menu-submenu,
    .ant-menu-submenu-inline {
      width: 85%;
      margin: 1rem auto;
      border-radius: 0.8rem;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: var(--colorPrimary);
      .ant-menu-item-icon {
        color: var(--colorLink);
      }
      .item-label {
        color: var(--colorLink);
        font-weight: 600;
      }
    }

    .ant-menu-sub.ant-menu-inline > .ant-menu-item {
      padding-left: 2rem !important;
      height: 4.5rem;
    }

    .ant-menu-inline .ant-menu-item-selected::after {
      display: none;
    }

    .ant-menu-sub.ant-menu-inline {
      padding: 1rem 0 !important;
      // background-color: rgba(0, 0, 0, 0.1);
      border-radius: 0.8rem;
    }
    .ant-menu-item .ant-menu-item-icon + span,
    .ant-menu-submenu-title .ant-menu-item-icon + span,
    .ant-menu-item .anticon + span,
    .ant-menu-submenu-title .anticon + span {
      margin-left: 2rem;
    }

    .menu {
      margin: 0 0.8rem 0 1rem;

      .item-label {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        position: relative;
        transition: all 0.2s;
        align-items: center;
        justify-content: space-between;
        height: 5rem;

        & > span:first-child {
          display: flex;
          align-items: center;
          // padding: 0rem 2rem;
        }

        &:hover {
          opacity: 0.7;
        }

        .item__nav {
          @include text-wrap;
          font-weight: $font-weight-medium;
          font-size: 1.6rem;
          color: var(--colorLink);
          height: 100%;
          max-width: 20vw;
        }

        @media only screen and (max-width: 1334px) {
          .item__nav {
            font-size: 1.2rem;
          }
        }

        .item-hover__icon {
          margin-right: 2rem;

          svg {
            transition: color 1s;
            font-size: 3rem;
            width: 2.6rem;
            height: 2.6rem;
            color: var(--colorLink);
          }
        }

        .icon-3dot svg {
          color: var(--colorLink);
          font-size: 2.2rem;
          width: 2.2rem;
          height: 2.2rem;
        }
      }

      .menu--component--item {
        border-radius: 0.6rem;
        margin-bottom: 3px;
        transition: background-color 1s;
      }

      .menu--component--item.menu-active {
        position: relative;
        background: var(--colorPrimary);
        border-radius: 0.8rem;
        transition: background-color 1s;

        .item__nav {
          color: var(--colorLink);
          transition: color 1s;
        }

        .item-hover__icon svg {
          color: var(--colorLink);
          transition: color 1s;
        }

        .icon-3dot svg {
          color: var(--colorLink);
        }

        .icon-3dot {
          color: var(--colorLink);
        }
      }

      .menu--component--item.three-dot {
        cursor: pointer !important;
        position: relative;

        .icon-3dot {
          font-size: 3rem;
          margin-left: 1.2rem;
          margin-top: -7px;
        }
      }
    }
  }
}

.big {
  width: 20vw;
  cursor: initial;

  .mask {
    opacity: 1;
  }
}

.sider-component-pointer {
  cursor: pointer;
}

.ant-menu {
  border-radius: 0.4rem;
}
