.wrapper-all {
    height: 100vh;
    background: #1E1E2E;

    .wrapper {
        height: 100vh;

        .content-header {
            color: #898996;
            font-family: Montserrat;
            display: flex;

            .span {
                color: #8E654B;
            }


        }

        .big-title {
            font-weight: 700;
            color: white;
            font-size: 36px;
        }

        .content-input {
            .choose-options {
                display: flex;

                .small-title {
                    padding-top: 10px;
                    margin-right: 10px;
                    color: white;
                }

                .month-dropdown {
                    width: 200px;
                    margin-right: 20px;

                }

                .all-date {
                    width: 200px;

                }
            }
        }

        .content-body2 {
            display: flex;
            color: white;
            text-align: center;
            width: 1500px;
            background-color: #2A2A3B;
            height: 100px;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            margin-top: 24px;

            .total {
                padding: 70px;

                .title {
                    font-weight: 700;
                    font-size: 18px;
                }

                .value {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                    color: #FFAC69;
                }
            }
        }
    }
}