.ant-table-tbody .ant-table-row {
    background-color: #2A2A3B;
    color: white;
}


.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
    background-color: #2A2A3B;
    color: #FFAC69;

}

.ant-table-tbody>tr.ant-table-row>td {
    border: 1px solid #2A2A3B !important;

}

.ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: black !important;

}

.ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: black !important;

}

.tableXX {
    border-radius: 8px;
    background-color: #2A2A3B;
}