.dropdown-menu {
  background-color: $color-select;
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid var(--colorPrimary);

  .status {
    color: $color-background-cancel;
    padding: 3px 10px;
    cursor: pointer;
    width: 15rem;

    &:hover {
      background-color: $color-select-active;
      color: var(--colorBgContainer);
    }
  }

  .active {
    background-color: $color-select-active;
    color: var(--colorBgContainer);
  }

  //dropdown menu for ant design
  a:not([href]):not([tabindex]) {
    color: $color-background-cancel;
  }

  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    background-color: $color-select-active;
  }

  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    color: var(--colorTextSecondary);
  }
}

// dropdown arrow
.ant-dropdown-placement-bottomCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
  border-top-color: $color-select;
  border-left-color: $color-select;
}

.ant-dropdown-placement-topCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-topLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-topRight > .ant-dropdown-arrow {
  border-right-color: $color-select;
  border-bottom-color: $color-select;
}

// Dropdown Facility information
.ant-dropdown-menu-item {
  @include style-text(
    $font-weight-medium !important,
    $fs-1 !important,
    2.4rem,
    var(--colorPrimaryLight)
  );
  padding: 1rem !important;
  // &:hover {
  //   color: var(--colorPrimary);
  //   background-color: var(--colorPrimaryLight);
  // }
}

.ant-dropdown-menu {
  padding: 0 !important;
  border-radius: 0.8rem;
}

.ant-dropdown-menu-item-icon {
  font-size: 1.6rem !important;
}
