.ant-select.ant-select-multiple.ant-select-show-search .ant-select-selector {
  min-height: 4rem;
  height: auto;
  background: transparent !important;
  color: var(--colorTextTertiary);
}

.ant-select-selection-overflow-item {
  .ant-select-selection-item {
    background: var(--colorPrimary);
    border-color: var(--colorBgLayout);
  }

  .ant-select-selection-item-remove {
    display: flex;
    align-items: center;
    color: var(--colorTextTertiary);
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
    .ant-select-item-option-state {
    color: var(--colorTextTertiary);
  }

  .ant-select-dropdown {
    border-radius: 8px;
    background-color: var(--colorPrimaryLight);
  }
}

// .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
//   background-color: $color-primary-light;
// }

// .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
//   background-color: $color-primary-light;
// }
